<div class="col-sm-3 sidenav">
    <h4>Блог Наумова</h4>
    <ul class="nav nav-pills nav-stacked">
        {% for nav in navigation %}
        <li {% if path == nav.href %} class="active" {% endif %}><a href="{{ nav.href }}">{{ nav.title }}</a> </li>
        {% endfor %}
    </ul>
    <br>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
    </div>
</div>